@page
@model Programmer_Blog.Web.Pages.Log.LoginModel
@{
	Layout = "_LogLayout";
	ViewData["Title"] = "Login";

}
<div class="login-image">
	<!-- تصویر از CSS نمایش داده می‌شود -->
</div>
<div class="form-box">
	<h1>@ViewData["Title"] </h1>
	<form>
		<label for="username">Username</label>
		<input type="text" id="username" placeholder="Enter Username">
		<label for="password">Password</label>
		<input type="password" id="password" placeholder="Enter Password">
		<a asp-page="Index"><button type="submit">Log In</button></a>
	</form>
	<p>Don't have an account? <a asp-page="Register">Sign Up</a></p>
</div>

