
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="/dist/css/vendor/bootstrap.min.css">

    <!-- Slick CSS Link -->
    <link rel="stylesheet" href="/dist/css/vendor/slick.css">
    <link rel="stylesheet" href="/dist/css/vendor/slick-theme.css">

    <!-- Icon Library Link -->
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- Theme CSS Link -->
    <link rel="stylesheet" href="/dist/css/main.css">

    <title>Blogy-Home</title>
</head>


<body>
    <partial name="Header/_TopHeader" />


    <partial name="Header/_BanerHeader" />

  @RenderBody()

    <partial name="_Footer" />
    <!-- jQuery JS Link -->
    <script src="/Footr/dist/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS Link -->
    <script src="/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Menu JS Link -->
    <script src="/dist/js/menu.js"></script>

    <!-- Slick JS Link -->
    <script src="/dist/js/slick.min.js"></script>

    <!-- Custom JS Link -->
    <script src="/dist/js/main.js"></script>
</body>

</html>
